<section class="contact py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 text-center">
                <h2 class="pri-heading">
                    Keep in touch with us
                </h2>
                <h3 class="sec-heading mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
                </h3>
                <form class="form-inline mb-5">
                    <div class="form-group w-100">
                        <input type="text" placeholder="Enter your email" class="form-control email">
                        <input type="button" value="Submit" class="btn pri-btn ml-2">
                    </div>
                </form>
                <ul class="brandLinks mb-90">
                    <li *ngFor="let icon of socialIcons">
                        <a [href]="icon.link" [innerHTML]="icon.icon" [target]="icon.target"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul class="footerLinks">
                    <li>HALOVIETNAM LTD</li>
                    <li>66, Dang Van Ngu, Dong Da</li>
                    <li>Hanoi, Vietnam</li>
                    <li>
                        <a href="mailto:contact@halovietnam.com">
                            contact@halovietnam.com
                        </a>
                    </li>
                    <li>
                        <a href="tel:8698410798">
                            8698410798
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1 offset-md-1">
                <ul class="footerLinks">
                    <li>
                        <a href="javascript:;">
                            Examples
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Shop
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            License
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1 offset-md-1">
                <ul class="footerLinks">
                    <li>
                        <a href="javascript:;">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Privacy
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Terms
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1 offset-md-1">
                <ul class="footerLinks">
                    <li>
                        <a href="javascript:;">
                            Download
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Support
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Document
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1 offset-md-1">
                <ul class="footerLinks">
                    <li>
                        <a href="javascript:;">
                            Media
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Blogh
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Forum
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
